
@import "./variables.scss";

.customError{
    display:block;
    margin:40px auto;
    background-color: $white;
    padding:50px;
}

.heading{
    text-align: center;
}

.paragraf{
    text-align: center;
}

.customeHome{
    justify-content: center;
    display: flex;
    width: 80px;
    margin: 30px auto;
    font-size: 25px !important;
    border-bottom: 1px solid $black;
}