@import "./variables.scss";



.root{
    background-color: $white !important;
    box-shadow: none !important;
    height: 70% !important;
    padding: 50px !important;
}

.innerCard{
    display: flex;
    flex-direction: row !important;
}
.details{
    justify-content: space-around !important;
    display: flex !important;
    flex-direction: column !important;
    padding: 15px 0px;
}

.cardContentInner{
    padding: 18px 0px !important;
    h6{
        margin-bottom: 12px;
    }
    h4{
        margin-bottom: 12px;
    }
}
.cardAction{
    padding: 18px 0px !important;
}
.cardImage{
    width:550px !important;
    height:350px !important;
}
.productButton{
    width:150px !important;
    height: 50px !important;
    background-color: lighten($black, 20) !important;
    padding: 5px 14px !important;
    border:none !important;
    color:$white !important;
    border-radius: 0px !important;
    font-size: 17px!important;
       
   
}

.iconBar{
    position: absolute !important;
    bottom: 5px !important;
    left: 10px !important;
}


@media  (max-width: 799px) {
    .root{
        height: 100% !important;
        padding:30px 30px 65px 30px  !important;
    }

    .innerCard{
        flex-direction: column-reverse !important;
    }
    .cardAction{
        padding: 15px 0px 25px 0px !important;
    }

    .details{
        padding: 0px !important;
    }
    
    .cardContentInner{
        h6{
            margin-bottom: 0px;
        }
        h4{
            margin-bottom: 0px;
        }
    }
    .productButton{
        height:38px !important;
        margin-bottom:10px !important;

    }

    .iconBar{
        position: absolute !important;
        bottom: 5px !important;
        left: 10px !important;
    }
    .cardImage{
        height:250px !important;
    }

}

@media (min-width: 800px) and (max-width: 859px) {
   
    .details{
        padding:10px 0px !important;
    }
    .productButton{
        height:40px !important;
    }

    .iconBar{
        position: absolute !important;
        bottom: 5px !important;
        left: 10px !important;
    }
    .cardImage{
        width:380px !important;
        height:300px !important;
    }
}

@media (min-width: 860px) and (max-width: 1100px) {

    .iconBar{
        position: absolute !important;
        bottom: 10px !important;
        left: 10px !important;
    }
    .cardImage{
        width:430px !important;
        height:300px !important;
    }
    .details{
        padding:12px 0px !important;
    }
}

