@import "./variables.scss";

.menu{
    background-color: transparent !important;
}

.buttonMenu{
    background-color: $white !important;
    box-shadow: none !important;
    border: none !important;
}

.anchorLink{
    color:$black !important;
    font-size: initial !important;
    text-decoration: none !important;
}