@import "./variables.scss";


.PaginationRoot{
    margin:35px 0px !important
}

.paginationul{
  justify-content: center !important;
  li{
      margin: 0px 3px !important;
      button{
        background-color: lighten($black, 20) !important;
        border:none;
        color:$white !important;
        border-radius: 0px !important;
        
      }
  }
}