@import "./variables.scss";

.outerCard{
    margin:30px 0px;
    background-color: $white;
    padding:30px 15px;
}
.HeadingBar{
    font-size:90px !important;
    padding:10px 8px  !important;
    margin: 10px 0px !important;
    font-weight:700 !important;
}

.cardBox{
    display: flex;
    flex-direction: row;
    margin:35px 10px !important;
}

.cardBoxAuthorTitle{
    margin:5px !important;
}
.cardArticalImage{
    height:600px !important;
}

.dateShow{
    margin:30px 10px !important;
}

.HeadingBar{
    margin:30px 10px !important;

}

.paragrafBox{
    margin:10px 10px !important;
    color:lighten($black, 5) !important;
    font-size: 1.2rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300; 
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.writeComment{
    margin: 50px auto !important;
    border: 2px solid lighten($black, 25);
    height: 25px;
    padding: 15px;
    width: 180px !important;
    text-align: center;
}
.MoreStory{
    margin:20px 15px !important;
    text-transform: capitalize !important;
}



.grid{
    margin:40px  auto 60px auto !important 
}

.cardMore{
    margin:10px 10px 50px 10px  !important;
    box-shadow:0px 0px 5px 5px rgba(0, 0, 0, 0.12) !important;
    padding:12px !important;
    border-radius:2px !important;
}

.imageCardMore{
    height:300px !important;
}


@media (max-width: 450px) {
  
    .HeadingBar{
        font-size:40px !important;
        font-weight:300 !important;
        margin: 40px 0px !important
    }

    .cardArticalImage{
        height:300px !important;
    }

    .HeadingBar{
       font-size: 3rem !important;
    
    }


}